@use 'sass:math';

html, body {
	font-size: 16px;
	min-height: 100%;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

html.fslightbox-open body {
	padding-right: var(--width-scrollbar);
}

html.fslightbox-open .header {
	left: calc(0px - (var(--width-scrollbar) / 2))
}

body {

	font-family: var(--main-font);
	
	font-weight: 400;
	line-height: 150%;

	display: flex;
	flex-direction: column;

	background: var(--dark);
	color: var(--white);

	&._active {
		overflow: hidden;
	}

	&._popup-active {
		overflow: hidden;
	}
	
}

.wrapper {
	flex: 1 1 100%;

	display: flex;
	flex-direction: column;

	position: relative;
}

.section-start {
	padding-top: var(--height-header, 69px);
	@include _992 {
		padding-top: var(--height-header, 124px);
	}
	transition: padding-top .2s ease;
}

.main {
	//overflow-x: hidden; overflow-y: visible;
	overflow: hidden;

	flex: 1 0 auto;
	opacity: 0;
	animation: fadeIn 0.3s ease 0.3s 1 normal forwards;

	display: flex;
	flex-direction: column;
}

.container {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: #{$container}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
	}
}

.section-padding {
	padding-top: 75px;
	padding-bottom: 75px;

	@include _768 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include _992 {
		padding-top: 150px;
		padding-bottom: 150px;
	}

}

.btn {
	display: inline-block;
	text-align: center;

	position: relative;
	
	padding: 18px;
	font-weight: 900;
	font-size: 0.875rem;
	line-height: 121.428571%;
	text-transform: uppercase;

	background: var(--accent-dark);
	color: var(--white);

	&._alt {
		background: var(--accent-2);
		&:hover {
			background: var(--accent-2-hover);
		}
		
		&:active {
			background: var(--accent-2-active);
		}
	}

	&._transparent {
		&::before {
			opacity: 0;
		}
		border: 1px solid var(--accent-dark);
		background: transparent;
		filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0));
		&:hover {
			background: var(--accent-dark);
			filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.08));
			&::before {
				opacity: 1;
			}
		}
		
		&:active {
			background: var(--accent-active);
			&::before {
				opacity: 0;
			}
		}
	}

	&:hover {
		background: var(--accent);
	}
	
	&:active {
		background: var(--accent-active);
		&::before {
			opacity: 0;
		}
	}

	filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.08));
	border-radius: 5px;
	overflow: hidden;

	transition: color .2s ease-in-out, background .2s ease-in-out, opacity .2s ease, visibility .2s ease, filter .2s ease;

	&::before {
		content: '';
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%,-85%);
		border-radius: 50%;
		width: 250%; padding-top: 100%;
		opacity: .6;
		transition: opacity .2s ease;
		
		background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%);
	}
}

.custom-select {
	position: relative;
	display: inline-block;

	&__target {
		display: inline-flex;
		align-items: center;

		padding: 14px 7px 12px 9px;
		

		background: rgba(255, 255, 255, 0.03);
		border-radius: 5px;

		font-weight: 700;
		font-size: 0.75rem;
		line-height: 116.666667%;

		color: #FFFFFF;

		cursor: pointer;
		user-select: none;

		transition: border-radius .2s ease-in-out, background .2s ease;

		& svg {
			margin-left: 5px;
			transition: transform .2s ease-in-out;
		}
	}

	&__list {
		position: absolute;
		left: 0; top: 100%;
		z-index: 10;

		min-width: 100%;

		background: var(--dark-2);
		border-radius: 0 0 5px 5px;

		display: flex;
		flex-direction: column;

		padding: 5px 0;

		opacity: 0; visibility: hidden;
		transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

		& a {
			display: block;
			padding: 10px 8px;

			font-size: 0.75rem;

			color: #FFF;
			transition: background .2s ease-in-out;
			&:hover {
				background: rgba(255, 255, 255, 0.03);
			}
			
			&:active {
				background: rgba(255, 255, 255, 0.05);
			}
		}
	}

	&._active &__target {
		background: var(--dark-2);
		border-radius: 5px 5px 0 0;
		& svg {
			transform: scale(-1);
		}
	}

	&._active &__list {
		opacity: 1; visibility: visible;
	}

	@media (any-hover: hover) {
		&:hover &__target {
			border-radius: 5px 5px 0 0;
			background: var(--dark-2);
			& svg {
				transform: scale(-1);
			}
		}

		&:hover &__list {
			opacity: 1; visibility: visible;
		}
	}
}

.page-bg {

	position: absolute;
	left: 0; top: 0;
	z-index: -1; pointer-events: none;
	width: 100%; height: 100%;
	//max-width: 1440px;
	overflow: hidden;
	filter: blur(20px);
	

	// .page-bg__element

	&__element {
		position: absolute;
		width: 1000px; height: 1000px;
		border-radius: 50%;
		opacity: .25;

		&:nth-child(1) {
			left: -20%; top: 0;
			@include _992 {
				left: calc(50% - #{math.div($container, 2)}px);
			}
			transform: translate(-40%,-40%);
			background: radial-gradient(circle, rgba(36,93,241,0.6054796918767507) 0%, rgba(0,0,0,0) 70%);
		}

		&:nth-child(2) {
			right: 30%; top: 0;
			@include _992 {
				right: calc(50% - #{math.div($container, 1.5)}px);
			}
			transform: translate(60%,-20%);
			background: radial-gradient(circle, rgba(210,11,215,0.5326505602240896) 0%, rgba(0,0,0,0) 70%);
		}

		&:nth-child(3) {
			display: none;
			@include _768 {
				display: block;
			}
			left: 0; bottom: 0;
			@include _992 {
				left: calc(50% - #{math.div($container, 2)}px);
			}
			transform: translate(-60%,50%);
			background: radial-gradient(circle, rgba(210,11,215,0.5326505602240896) 0%, rgba(0,0,0,0) 70%);
			
		}

		&:nth-child(4) {
			display: none;
			@include _768 {
				display: block;
			}
			transform: translate(70%,50%);
			right: 0; bottom: 0;
			@include _992 {
				right: calc(50% - #{math.div($container, 2)}px); 
			}
			background: radial-gradient(circle, rgba(36,93,241,0.6054796918767507) 0%, rgba(0,0,0,0) 70%);
		}
	}
}

.page-address {
	height: 0; overflow: hidden;
	@include _768 {
		height: auto;
	}
	& ul {
		padding-top: 21px;

		display: flex;
		flex-wrap: wrap;

		& li {
			&:not(:first-child) {
				&::before {
					content: '/';
					padding-left: 4px;
					font-weight: 900;
					color: rgba(255, 255, 255, 0.54);
				}
			}

			& a {
				font-weight: 900;
				font-size: 0.875rem;
				line-height: 121.428571%;
				color: rgba(255, 255, 255, 0.54);
				transition: color .2s ease;
				&[href] {
					&:hover {
						color: var(--accent);
					}
					
					&:active {
						color: var(--accent-active);
					}
				}
			}
		}
	}
}

.block {
	background: rgba(97, 105, 129, 0.1);
	border-radius: 16px;
	padding: 20px;
	@media (min-width: 1200px) {
		padding: 30px;
	}
	&._min {
		padding: 15px;
		@media (min-width: 1200px) {
			padding: 24px;
		}
	}
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 4px; height: 4px;
		border-radius: 27px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--accent-dark);
		border-radius: 27px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(217, 217, 217, 0.07);
	}

	& .os-scrollbar-track {
		background: rgba(217, 217, 217, 0.07) !important;
	}

	& .os-scrollbar-handle {
		background: var(--accent-dark) !important;
	}

	& .os-content {
		padding-right: 12px !important;
	}
	
}

.os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
	width: 8px !important;
}

/* .os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
	width: 4px;
} */

.switch-checkbox {

    // .switch-checkbox__label

    &__label {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		user-select: none;
    }

    // .switch-checkbox__input

    &__input {
		position: absolute;
		left: 11px; top: 13px;
		width: 1px; height: 1px;
		z-index: -1;
		//visibility: hidden;
    }

    // .switch-checkbox__element

    &__element {
		display: block;
		width: 23px; height: 14px;
		border-radius: 2px;
		background: var(--dark-3);
		position: relative;
		margin-right: 13px;

		&::before {
			content: '';
			width: 50%; height: 100%;
			position: absolute;
			left: 0; top: 0;
			background: linear-gradient(0deg, var(--accent-dark) 0%, var(--accent-light) 100%);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			filter: grayscale(1);
			transition: transform .2s ease, filter .2s ease;
		}
    }

	&__input:checked + &__element::before {
		transform: translate3d(100%,0,0);
		filter: grayscale(0);
	}

    // .switch-checkbox__text

    &__text {
		& a {
			color: var(--accent);
			border-bottom: 1px solid var(--accent);
		}
    }
}

.transparent-btn {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 121.428571%;
	padding: 17px;
	@include _550 {
		padding: 17px 30px;
	}
	border: 1px solid var(--accent);
	fill: var(--accent);
	filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.08));
	border-radius: 5px;
	text-transform: uppercase;
	color: var(--accent);
	transition: background .2s ease;
	& svg {
		margin-right: 7px;
		@include _550 {
			margin-right: 14px;
		}
	}
	&:hover {
		background: rgba(100, 141, 245, 0.155);
	}
	
	&:active {
		background: rgba(100, 141, 245, 0.1);
	}

	&._alt {
		fill: var(--accent-2); color: var(--accent-2);
		border-color: var(--accent-2);
		&:hover {
			background: rgba(212, 11, 215, 0.155);
		}
		
		&:active {
			background: rgba(212, 11, 215, 0.1);
		}
	}
}

.section-intro {

	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;

	@include _768 {
		flex-direction: row;
		text-align: left;
	}

	padding-bottom: 43px;

	// .section-intro__icon

	&__icon {
		@include _768 {
			margin-right: 40px;
		}
	}

	// .section-intro__info

	&__info {
		padding-top: 9px;
		@include _768 {
			padding-top: 0;
		}
	}

	// .section-intro__title

	&__title {
	}

	// .section-intro__text

	&__text {
		padding-top: 5px;
		font-size: 1rem;

		@include _550 {
			font-size: 1.125rem;
		}

		@include _768 {
			font-size: 1.25rem;
		}
		
		@include _992 {
			font-size: 1.5rem;
		}
		line-height: 166%;
		color: rgba(255, 255, 255, 0.72);
	}
}

.swiper-scrollbar {
	background: rgba(217, 217, 217, 0.26);
}

.swiper-scrollbar-drag {
	background: var(--accent-dark);
}

.visible-on-table {
	@include _992 {
		display: none;
	}
}

.hide-on-table {
	@media (max-width: 991px) {
		display: none;
	}
}
